.gallery {
  display:block;
  height: 100%;
  width: 100%;

  background-color: white;
}

.copyFromServer {
  display: block;
  width: 100%;
  justify-content: space-between;
  min-height: 232px;
  min-height: 232px;
}

.copyFromServer:after {
  content: '\200b';
}