.brandLogo {
  display: flex;
  flex-grow: 1;

  justify-content: center;
  
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

.logoText {
  display: block;
  margin: auto;

  text-transform: uppercase;
  width: 60%;
}