.headerElement {
  display: flex;
  justify-content: center;
  font-weight: bolder;
  width: 100%;
  text-align: center;

  padding: 20px 10px;
  cursor: pointer;

  @media (min-width:768px) {
      width: 10%;
      flex-direction: row;
  }
}

.selectedElement {
  @extend .headerElement;

  color: black;
  font-weight: bolder;
}

.unselectedElement {
  @extend .headerElement;

  color: grey;
  font-style: italic;
}