.gallery {
  display:block;
  height: 100%;
  width: 100%;

  background-color: white;
}

.copyFromServer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.copyFromServer:after {
  content: '\200b';
}