.gallery {
  background: linear-gradient(0deg, rgba(58, 58, 58, 0.8), rgba(58, 58, 58, 0.8)), url('../Common/Background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display:block;
  height: 100%;
  width: 100%;

  background-color: white;
}

.copyFromServer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.copyFromServer:after {
  content: '\200b';
}