.rsvp {
  background: linear-gradient(0deg, rgba(58, 58, 58, 0.8), rgba(58, 58, 58, 0.8)), url('../Common/Background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  padding: 100px;

  color: white;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.eventDetails {
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  font-size: 1.5rem;
}

.sectionOption {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;

  width: 300px;
  margin: 10px auto;
}

.submitSection {
  margin-top: 20px;
}

.sectionHeading {
  width: 500px;
};

.button{
  width: 135px;
  height: 40px;
  border: none;
  outline: none;
  background: #2f2f2f;
  color: #fff;
  font-size: 18px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 6px 20px -5px rgba(0,0,0,0.4);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.email {
  color:lightblue;
}